<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container mt-5">
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFile">Choose a CSV File:</label>
            <input type="file" class="form-control-file" id="csvFile" name="csvFile" accept=".csv" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
<div class="container mt-5">
    <div th:if="${errorMessages != null}" class="alert alert-danger">
        <div th:each="errorMessage : ${errorMessages}" th:text="${errorMessage} + ' '"></div>
    </div>
</div>

<div class="container my-2">

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Rental price</th>
            <th>Number of rooms</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartment : ${listApartments} ">
            <td th:text="${apartment.apartmentId}"></td>
            <td th:text="${apartment.address}"></td>
            <td th:text="${apartment.rentalPrice}"></td>
            <td th:text="${apartment.numberOfRoom}"></td>

        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>first name</th>
            <th>last name</th>
            <th>address</th>
            <th>age</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${listCustomers} ">
            <td th:text="${customer.customerId}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.age}"></td>
            <td th:text="${customer.status}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Customer ID</th>
            <th>Apartment ID</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${ListContracts} ">
            <td th:text="${contract.contractId}"></td>
            <td th:text="${contract.customer.customerId}"></td>
            <td th:text="${contract.apartment.apartmentId}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>